<div class="row">
    <div class="col">
        <error-panel name="error-panel" #errorPanelModal></error-panel>
    </div>
</div>
<ul>
    <li>
        <a>Login Page</a>
    </li>
</ul>


<div class="row mt-3 mx-5">
    <div class="col">
        <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm,errorPanelModal)">
            <div class="row">
                <div class="col-md-4">
                    <label for="username" class="mx-2 mb-1">Username</label>
                    <input class="form-control" type="text" ngModel name="username" required />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mt-2">
                    <label for="password" class="mx-2 mb-1 mt-1">Password</label>
                    <input class="form-control" type="password" ngModel name="password" required minlength="6" />
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <button class="btn btn-primary px-3">Login</button>
                </div>
            </div>
        </form>
    </div>
</div>


<!-- <dx -button (onClick)="forgotPassword()"></dx> -->

<!-- <h4>Policy Login ({{this.url}}) </h4>
<ul>
    <li *ngFor="let text of policy" [innerText]="text">
    </li>
</ul> -->