<ng-template #orderDetailsModal>
    <div class="modal-header">Order Detail</div>
    <div class="modal-body">
        <div class="row">
            <error-panel name="error-panel" #errorPanelModal></error-panel>
        </div>
        <div class="row">
            <div class="col mb-2">
                <strong>{{ nameCustomer }}'s Orders</strong>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <dx-data-grid #orderCustomerGrid class="container" [dataSource]="orderCustomer" [showBorders]="true"
                    [remoteOperations]="true" (onSaving)="onSaving($event)">
                    <dxo-editing [useIcons]="true" [allowUpdating]="true" [allowDeleting]="true">
                    </dxo-editing>
                    <dxi-column dataField="orderId" caption="Order Id" alignment="center" [allowEditing]="false"></dxi-column>
                    <dxi-column dataField="dateTime" caption="Date Time" alignment="center" dataType="date" format="dd-MMM-yyyy">
                    </dxi-column>
                    <dxi-column dataField="totalPrice" caption="Total Price" alignment="right" [allowEditing]="false">
                    </dxi-column>
                    <dxi-column dataField="orderDetails" caption="Orders Details" alignment="right"
                        cellTemplate="orderDetailTemplate" [allowEditing]="false">
                        <div *dxTemplate="let cell of 'orderDetailTemplate'">
                            <div *ngIf="cell.data.orderDetails > 0"
                                style="cursor: pointer; color: blue; text-decoration-line: underline;"
                                [style.color]="cell.data.orderDetails > 0 ? 'blue' : 'black'"
                                (click)="orderDetailClick(cell.data)">{{cell.data.orderDetails}}</div>
                        </div>
                    </dxi-column>
                    <dxi-column type="buttons" [width]="110" caption="Action">

                        <dxi-button name="edit" icon="fa-regular fa-pen-to-square"></dxi-button>

                        <dxi-button name="delete" icon="fa-regular fa-trash-can"></dxi-button>

                    </dxi-column>
                </dx-data-grid>
                <div class="row">
                    <div class="col text-end me-2 mt-2">
                        <i class="fa-regular fa-pen-to-square"></i><label class="mx-2">Edit</label>
                        <i class="fa-regular fa-trash-can"></i><label class="mx-2">Delete</label>
                    </div>
                </div>


                <div *ngIf="orderDetailShow">
                    <div class="row">
                        <div class="col mb-2">
                            <strong>Order Details</strong>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <dx-data-grid class="container" [dataSource]="orderDetails" [showBorders]="true"
                                [remoteOperations]="true" (onSaving)="onSavingOrderDetail($event)">
                                <dxo-editing [useIcons]="true" [allowUpdating]="true" [allowDeleting]="true">
                                </dxo-editing>
                                <dxi-column dataField="productName" caption="Product Name"
                                    alignment="center" [allowEditing]="false"></dxi-column>
                                <dxi-column dataField="quantity" caption="Quantity" alignment="center"
                                    cellTemplate="rightTemplate">
                                    <div *dxTemplate="let cellInfo of 'rightTemplate'" style="text-align: right;">
                                        <span>{{cellInfo.data.quantity}}</span>
                                    </div>
                                </dxi-column>
                                <dxi-column type="buttons" [width]="110" caption="Action">

                                    <dxi-button name="edit" icon="fa-regular fa-pen-to-square"></dxi-button>

                                    <dxi-button name="delete" icon="fa-regular fa-trash-can"></dxi-button>

                                </dxi-column>
                            </dx-data-grid>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-end me-2 mt-2">
                            <i class="fa-regular fa-pen-to-square"></i><label class="mx-2">Edit</label>
                            <i class="fa-regular fa-trash-can"></i><label class="mx-2">Delete</label>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col text-center">
                            <button type="button" class="btn btn-danger" (click)="onCancel()">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>