<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" [routerLink]="['/login-page']"><strong> report-order works!</strong></a>
        </div>
        <ul class="nav navbar-nav">
            <li><a [routerLink]="['/customer-list']">Customer List</a></li>
            <li><a [routerLink]="['/report-order']">Report</a></li>
        </ul>
    </div>
</nav>

<div class="row">
    <error-panel name="error-panel" #errorPanelModal></error-panel>
</div>

<div class="row">
    Content
    <table>
        <tr>
            <td>
                Column 1
            </td>
            <td>
                Column 2
            </td>
            <td>
                Action
            </td>
        </tr>
        <tr>
            <td>
                Data Row 1.Column1
            </td>
            <td>
                Data Row 1.Column2
            </td>
            <td>
                <button (click)="exampleActionComplete(errorPanelModal)">Check</button>
            </td>
        </tr>
        <tr>
            <td>
                Data Row 2.Column1
            </td>
            <td>
                Data Row 2.Column2
            </td>
            <td>
                <button (click)="exampleError(errorPanelModal)">Check</button>
            </td>
        </tr>
    </table>
</div>