<div class="col">
    <error-panel name="error-panel" #errorPanelModal></error-panel>
</div>

<ul>
    <li><a style="cursor: pointer; text-decoration: none;" [routerLink]="['/home']">Home</a></li>
    <li><a style="cursor: pointer; text-decoration: none;" [routerLink]="['/customer-list']">Customer
            List</a></li>
    <li><a class="active" style="cursor: pointer; text-decoration: none;" [routerLink]="['/user-list']">User
            List</a></li>
    <li><a style="cursor: pointer; text-decoration: none;" [routerLink]="['/user-permission']">User
            Permission</a></li>
    <li style="float:right;"><a style="cursor: pointer; text-decoration: none;" (click)="onLogOut()">Log
            Out</a></li>
</ul>

{{ canWrite }} /
{{ authService.canWrite }}

<div class="col" *ngIf="!authService.canWrite">
    <div>You Can Read Only!</div>
</div>

<div class="row mt-5 mx-5">
    <div class="col">
        <dx-button class="btn btn-primary" (click)="createUser(createUserModal)">Create User</dx-button> <dx-button
            class="btn btn-primary mx-4" (click)="updatePermissionModal()">Update Permission</dx-button>
    </div>
</div>

<div class="row mx-5 mt-3">
    <div class="col">
        <dx-data-grid #userGrid class="col text-center" [remoteOperations]="true" [dataSource]="dataSource"
            [showBorders]="true">

            <dxo-pager [visible]="true" [allowedPageSizes]="allowedPageSizes" [displayMode]="displayMode"
                [showInfo]="showInfo" [showNavigationButtons]="showNavButtons"></dxo-pager>

            <dxo-paging [pageSize]="5"></dxo-paging>

            <dxi-column class="ag-grid" dataField="username" caption="Username" alignment="left">
            </dxi-column>
            <dxi-column dataField="" caption="Action" alignment="center" cellTemplate="iconTemplate">

                <div *dxTemplate="let cell of 'iconTemplate'">
                    <div *ngIf="authService.canWrite">
                        <i style="cursor: pointer;" class="fa-regular fa-pen-to-square"
                            (click)="updateUser(updateUserModal,cell)" ></i>
                        <i style="cursor: pointer;" class="fa-regular fa-trash-can mx-3"
                            (click)="deleteUser(cell.row.data,errorPanelModal)"></i>
                        <dx-button style="font-size: small;" (onClick)="changePassword(changePasswordModal,cell)">Change
                            Password</dx-button>
                    </div>
                </div>
            </dxi-column>
        </dx-data-grid>
    </div>
</div>
<div class="row mx-5">
    <div class="col text-end">
        <i class="fa-regular fa-pen-to-square mx-2"></i><label class="me-2">Edit</label>
        <i class="fa-regular fa-trash-can mx-2"></i><label class="me-2">Delete</label>
    </div>
</div>

<ng-template #createUserModal>
    <div class="modal-header">Register</div>
    <div class="modal-body">
        <p class="b">Create User</p>
        <div class="col">
            <error-panel name="error-panel" #errorPanelModal></error-panel>
        </div>
        <form [formGroup]="createUserForm">
            <div class="row">
                <div class="col-4 text-end">
                    <label class="mt-3" required>Username</label>
                </div>
                <div class="col-6">
                    <input formControlName="username" type="text" class="form-control mt-2">
                </div>
            </div>
            <div class="row">
                <div class="col-4 text-end">
                    <label class="mt-3" required>Password</label>
                </div>
                <div class="col-6">
                    <input formControlName="password" type="password" class="form-control mt-2">
                </div>
            </div>
        </form>
        <div class="row mt-3">
            <div class="col text-center">
                <button type="button" class="btn btn-primary mx-2"
                    (click)="saveCreateUser(errorPanelModal)">Save</button>
                <button type="button" class="btn btn-danger" (click)="onCancel()">Close</button>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #changePasswordModal>
    <div class="modal-header">Register</div>
    <div class="modal-body">
        <p class="b">Change Password</p>
        <div class="col">
            <error-panel name="error-panel" #errorPanelModal></error-panel>
        </div>
        <form [formGroup]="changePasswordForm">
            <div class="row">
                <div class="col-4 text-end">
                    <label class="mt-3" required>Password</label>
                </div>
                <div class="col-6">
                    <input formControlName="password" type="password" class="form-control mt-2">
                </div>
            </div>
            <div class="row">
                <div class="col-4 text-end">
                    <label class="mt-3" required>New Password</label>
                </div>
                <div class="col-6">
                    <input formControlName="newPassword" type="password" class="form-control mt-2">
                </div>
            </div>
            <div class="row">
                <div class="col-4 text-end">
                    <label class="mt-3" required>Confirm New Password</label>
                </div>
                <div class="col-6">
                    <input formControlName="confirmPassword" type="password" class="form-control mt-2">
                </div>
            </div>
        </form>
        <div class="row mt-3">
            <div class="col text-center">
                <button type="button" class="btn btn-primary mx-2"
                    (click)="saveChangePassword(errorPanelModal)">Save</button>
                <button type="button" class="btn btn-danger" (click)="onCancel()">Close</button>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #updateUserModal>
    <div class="modal-header">Register</div>
    <div class="modal-body">
        <p class="b">Update User</p>
        <div class="col">
            <error-panel name="error-panel" #errorPanelModal></error-panel>
        </div>
        <form [formGroup]="updateUserForm">
            <div class="row">
                <div class="col-4 text-end">
                    <label class="mt-3" required>Username</label>
                </div>
                <div class="col-6">
                    <input formControlName="username" type="text" class="form-control mt-2">
                </div>
            </div>
        </form>
        <div class="row mt-3">
            <div class="col text-center">
                <button type="button" class="btn btn-primary mx-2"
                    (click)="saveUpdateUser(errorPanelModal)">Save</button>
                <button type="button" class="btn btn-danger" (click)="onCancel()">Close</button>
            </div>
        </div>
    </div>
</ng-template>