/* You can add global styles to this file, and also import other style files */
.dx-datagrid-header-middle .dx-datagrid-headers .dx-datagrid-content .dx-datagrid-table .dx-row>td,

.dx-datagrid-content .dx-datagrid-table .dx-row>tr>td {

    vertical-align: middle;

}



tr.dx-header-row td {

    text-align: center !important;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ababab;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #ababab;
  }
  
  .active {
    background-color: #dcdada;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
