<ul>
    <li><a style="cursor: pointer; text-decoration: none;" [routerLink]="['/home']">Home</a></li>
    <li><a style="cursor: pointer; text-decoration: none;" [routerLink]="['/customer-list']">Customer
            List</a></li>
    <li><a style="cursor: pointer; text-decoration: none;" [routerLink]="['/user-list']">User
            List</a></li>
    <li><a style="cursor: pointer; text-decoration: none;" [routerLink]="['/user-permission']">User
            Permission</a></li>
    <li style="float:right;"><a style="cursor: pointer; text-decoration: none;" (click)="onLogOut()">Log
            Out</a></li>
</ul>

<hr>

<h1 class="p-5">Uanuthize</h1>

<div class="row m-4">
    <div class="col">
        <button class="btn btn-light" [routerLink]="['/home']">Back</button>
    </div>
</div>

