<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light navbar-nu" style="padding: 10px; background-color: #800000;">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Navbar brand -->
    <a class="navbar-brand" href="#">NU TABLE</a>

    <!-- Toggle button -->
    <button class="navbar-toggler" type="button"  aria-expanded="false"
      aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/home-page"><label class="menu-name">หน้าแรก</label></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/course-page"><label class="menu-name">หลักสูตร</label></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/professor-page"><label class="menu-name">รายชื่ออาจารย์</label></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/schedule-page"><label class="menu-name">ตารางสอน</label></a>
        </li>
      </ul>
      <!-- Left links -->

    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->